<h1>Sales</h1>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<table>
	<thead>
		<th>Numero Billet</th>
		<th>Commande</th>
		<th>Reservation</th>
		<th>Date reservation</th>
	</thead>
	<tbody>
		<% @sales.each do |sale| %>
			<tr>
				<td><%= sale.numero_billet %></td>
				<td><%= sale.commande %></td>
				<td><%= sale.reservation %></td>
				<td><%= sale.date_reservation %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= form_tag import_sales_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Upload" %>
<% end %>

<%= link_to " Download CSV", sales_path(format: "csv") %>